{% extends 'map/base.html' %}
{% load static %}

{% block content-css %}
<link href="{% static 'map/css/index.css' %}" rel='stylesheet' type='text/css'>
{% endblock content-css %}


{% block content %}

<div class="container">
    <div style="text-align:center">
    <h3 style="margin-top: 20px;">Team 20:</h3>
    <h3 style="margin-top: 20px;">Site Huang</h3>
    <h3 style="margin-top: 20px;">Chenyuan Zhang</h3>
    <h3 style="margin-top: 20px;">Zhentao Zhang</h3>
    <h3 style="margin-top: 20px;">Zixuan Zhang</h3>
    <h3 style="margin-top: 20px;">Kangyun Dou</h3>
</div>

{% endblock content %}